.profile {
	display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.profile__box {
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 9px;
	padding: 2rem;
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
  align-items: center;
  max-width: 900px;
}

.profile__image {
	padding: 20px;
}

.profile__data {
	margin: 1rem;
	min-width: 270px;
}