.figure-item {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 9px;
  border: 1px solid lightgray;
  width: 300px;
	height: 300px;
	margin: 10px 0px;
}

.figure-item__grid {
	display: flex;
	justify-content: center;
}

.figure-item__grid-container {
	display: flex;
	flex-direction: row;  /* <--- Really freaking cool! */
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;      /* Add this */	
}

.figure-item__value {
	border: 1px solid gray;
	background-color: lightgray;
  width: 50px;
	height: 50px;
	border-radius: 3px;
}

.active {
	background-color: #007bff;
}

.figure-item__name {
	font-weight: 500;
	text-align: center;
	margin: 3px 0px;
}