.figure-title {
  text-align: center;
}

.btn-figure {
  margin: 15px 0px 0px 5px;
}

.figure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.figure {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
  align-items: center; 
  width: 950px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}